html, .body--active {
  background-color: white;
}

body {
  font-family: 'Helvetica', sans-serif;
}

.body {
    transition: all .1s ease-in;
    transform: translateY(10px);
    opacity: 0;
}

.body--active {
  transition: all .1s ease-in;
  transform: translateY(0);
  opacity: 1;
}

body .em {
  opacity: 0;
}

.body--active .em {
  opacity: 1;
}

img {
  transition: all .2s;
}

img:hover {
  transform: rotate(180deg);
}

.content {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  color: #333;
}

.section {
  margin-bottom: 60px;
  opacity: .9;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 100px;
}

@media(min-width: 600px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 100px;
}

@media(min-width: 600px) {
  h2 {
    font-size: 24px;
  }
}

p {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 40px;
  line-height: 30px;
}


@media(min-width: 600px) {
  p {
    font-size: 18px;
  }
}


ul {
  margin-bottom: 100px;
}

li {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 50px;
}

a {
  color: #eb7a7f;
}

a:hover {
  text-decoration: none;
}

.social {
  display: flex;
  flex-direction: column;
}

@media(min-width: 600px) {
  .social {
    flex-direction: row;
  }
}

.social a {
  margin-right: 24px;
  margin-bottom: 20px;
  border-radius: 100%;
  opacity: .9;
}

.social a:hover {
  opacity: .9;
}

.social img {
  width: 20px;
}
