<footer class="footer">


  <div class="social">

      <a href="http://www.twitter.com/sirscottstewart" target="_blank"><img src="../assets/img/twitter.png" height="18" width="25" class="icon"></a>


      <a href="https://github.com/scottianstewart" target="_blank"><img src="../assets/img/github.png" height="23" width="22" class="icon"></a>

      <a href="https://www.linkedin.com/profile/view?id=AAMAABWM1aUB8abxeUVNNmgFQjQqDfgbY-MuyPY&trk=hp-identity-photo" target="_blank"><img src="../assets/img/linkedin.png" height="22" width="22" class="icon"></a>

      <a href="https://www.flickr.com/photos/136214342@N07/" target="_blank"><img src="../assets/img/flickr.png" height="12" width="25" class="icon"></a>

    </div>


</footer>
	<script src="../js/script.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

