<div class="main-nav">
  <div class="main-nav-inner">
    <!-- <img src="#" class="main-logo" /> -->
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">STUFF</a></li>
      <li><a href="#">HELLO</a></li>
      <li><a href="#">SUP</a></li>
    </ul>

    <!-- SLICK NAV -->
    <ul id="menu">
         <li><a href="http://www.livingspaces.com/" class="active">Back To Main Website</a></li>
         <li><a href="http://jobs.livingspaces.com/overview">Overview</a></li>
         <li><a href="http://jobs.livingspaces.com/jobs" >Jobs</a></li>
         <li><a href="http://jobs.livingspaces.com/about-us" >About Us</a></li>
         <li><a href="http://jobs.livingspaces.com/career-opportunities" >Career Opportunities</a></li>
         <li><a href="http://jobs.livingspaces.com/talent-community" >Talent Community</a></li>
     </ul>

  </div>
</div>


